aioboto3
aiobotocore
aiohttp
aiohttp-retry
aioitertools
aiopg
aiosignal
async-timeout
attrs
botocore
charset-normalizer
frozenlist
idna
jmespath
jwt
multidict
psycopg2-binary
python-dateutil
pytz
requests
six
typing-extensions
urllib3
wrapt
yarl